@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');


:root {
    --background-color: #221D23;
    --raisin-black: #221D23;
    --jet: #353535;
    --ming: #3c6e71;
    --gainsboro: #d9d9d9;
    --indigo-dye: #284b63;
    --oxford-blue: #04052E;
}


* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    overflow: auto;
    margin: 0;
    background-color: var(--background-color);
    color: gainsboro;
    font-size: calc(.5vmax + .6rem);
    font-weight: 400;
}

body.active {
    overflow: hidden;
}

.script {
    padding-block: 2vh;
    width: max(85%, 300px);
    margin: auto;
} 

nav {
    position: relative;
    display: flex;
    color: var(--gainsboro);
    padding-block: 1vmax;
    margin-bottom: 2vmax;
}

nav::after {
    content: "";
    width: 100%;
    position: absolute;
    background-image: linear-gradient(to right, 
        var(--background-color),
        var(--ming), 
        var(--indigo-dye), 
        var(--background-color));
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    filter: brightness(1.2);
}

nav div a {
    padding: 0 .5vmax;
    text-decoration: none;
    color: var(--gainsboro);
}

.overlay.active {
    animation: color 200ms forwards;
    z-index: 1;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .9);
}

@keyframes color {
    from {
        background-color: rgba(0, 0, 0, .1);
    }
    to {
        backdrop-filter: blur(15px) brightness(.4);
        background-color: rgba(0, 0, 0, .9);
    }
}

nav.active .links{
    font-size: 1.5em;
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translate(15%, 100%);
    animation: opacity 300ms ease-in-out forwards;
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.button {
    z-index: 2;
    padding: 0;
    position: absolute;
    top: 50%;
    right: 10vw;
    transform: translateY(-50%);
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 30px;
}

.button.active {
    opacity: .7;
}

.button.active :nth-child(1) {
    animation: xdown 150ms forwards;
}

.button.active :nth-child(2) {
    animation: xup 150ms forwards;
}

.button.active :nth-child(3) {
    background-color: transparent;

}

@keyframes xdown {
    to {
        transform: translateY(10px) rotate(45deg);
    }
}
@keyframes xup {
    to {
        transform: translateY(1.5px) rotate(-45deg);
    }
}

.button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    margin-top: 0px;
    
}

a.link {
    position: relative;
}

a.link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: gainsboro;
    left: 0;
    bottom: 0;
    transform: scale(0, 1);
    transition: all 250ms ease;
}

a.link:hover::after {
    transform: scale(1, 1);
}

nav a.link:hover {
    animation: scale 100ms ease-in-out forwards;
}

nav div.logo {
    width: fit-content;
    font-size: 2rem;
    padding-left: 2vmax;
    display: grid;
    justify-items: start;
    align-items: center;
    background-image: linear-gradient(to right, var(--ming), var(--indigo-dye), var(--indigo-dye), var(--indigo-dye));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(2);
}

nav div.logo:hover {
    animation: logo 300ms forwards;
}

nav div.links {
    position: relative;
    width: 80%;
    display: flex;
    place-items: center;
    justify-content: center;
    font-weight: 700;
    gap: 15vw;
    flex-grow: 1;
}


h1 {
    font-weight: 400;
    width: fit-content;
    margin: auto;
    text-align: center;
    border-radius: 20px ;
    border: 2px solid var(--ming);
    font-size: 1.8em;
    padding: 1vh 2vw;
    backdrop-filter: brightness(.9);
}

h1 span {
    background-image: radial-gradient(var(--ming), var(--indigo-dye));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(1.5);
}

h2 {
    margin: 2vh 0 5vh 0;
    font-size: 1.2em;
    text-align: center;
    font-weight: 400;
}


.formula {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 1.2em;
    text-align: center;
}

.formula img {
    filter: brightness(1.5);
    width: 250px;
    mix-blend-mode: color-burn;
}

.formula p {
    margin: 0;
}

.formula p.div {
    position: relative;
}

.formula p.div::after {
    content: "";
    bottom: -5px;
    left: 0;
    position: absolute;
    background-color: white;
    height: 1px;
    opacity: .8;
    width: 100%;
}

.desvio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    flex-wrap: wrap;
}

.desvio p {
    margin-bottom: 10px;
}


.entry {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.entry p {
    margin: 0;
    width: 100%;
}

textarea, button, input {
    background-color: var(--background-color);
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
}

textarea {
    padding: 1em;
}

button {
    width: fit-content;
    margin: auto;
    margin-top: .8em;
    font-size: .8em;
    padding: .8em;
    padding-inline: 10vw;
}

button span {
    width: fit-content;
    margin: auto;
    display: block;
}

button:hover span {
    animation: scale 100ms ease-in-out forwards;
    cursor: pointer;
}

input {
    margin-block: .5vh;
    padding: 2vh;
}

input:hover, button:hover {
    cursor: pointer;
}

#resultado {
    min-height: 2.5em;
    padding: 1em;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 5vh;
}

#resultado p {
    margin: 0;
    width: 100%;
    text-align: center;
    opacity: .5;
}

.text-input {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.text-input input {
    flex-grow: 1;
}

.text-input .input {
    display: flex;
    flex-grow: 1;
}

.text-input .input::after {
    width: 15%;
    border: 1px solid gray;
    display: grid;
    place-items: center;
    border-radius: 5px;
    margin: 0.5vh 0.3vh;
}

.text-input .input input {
    width: calc(85% - 0.5vh);
}


.radio-input {
    display: flex;
    justify-content: center;
    gap: 3vw;
}

.density::after {
    content: "g/cm³";

}

.mass::after {
    content: "g";
}

.volume::after {
    content: "L";
}

.volumeml::after {
    content: "ml";
}

.mols::after {
    content: "Mols";
}

.temp::after {
    content: "K";
}

@keyframes scale {
    to {
        transform: scale(1.1);
    }
}

@media (max-width: 580px) {
    nav div.links {
        display: none;
    }

    nav .button {
        display: flex;
    }
}