@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}
body {
    caret-color: transparent;
    overflow: auto;
    margin: 0;
    color: #bcbcbc;
    background-color: #151516;
    font-size: 1.35em;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-weight: 400;
    width: 10em;
    margin: auto;
    text-align: center;
    border: 2px solid gray;
    border-radius: 8px;
    background-color: #443d3d;
    font-size: 1.8em;
    padding: 5px;
}

h1#formulas {
    width: 12em;
}

nav {
    user-select: none;
    width: 100%;
    margin: 5px 0 0 0;
    font-weight: 200;
}

nav ul {
    border: 2px solid gray;
    border-radius: 10px;
    margin: 0 10px 20px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
    font-size: 1.5em;
    flex-wrap: wrap;
}

nav ul li {
    flex-basis: 25%;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #cccccc;
}

nav ul li:not(:last-child) a {
    border-right: 2px solid gray;

}

body:has(#basic) nav ul:not(:hover) li:first-child a, 
body:has(#conversion) nav ul:not(:hover) li:nth-child(2) a,
body:has(#formulas) nav ul:not(:hover) li:nth-child(3) a,
body:has(#periodic-table) nav ul:not(:hover) li:nth-child(4) a{
    color: white;
    font-weight: 500;
}

nav ul li:hover a {
    color: white;
    font-weight: 500;
}

.content_list ul {
    color: #cccccc;
    padding: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 10em;
    margin: 25px auto;
    text-align: center;
}

.content_list ul li a {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #cccccc;
}

.content_list ul li a:hover{
    border-radius: 8px;
    color: white;
    background-color: #1e1e20;
    cursor: pointer;
}