@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --background-color: #221D23;
    --raisin-black: #221D23;
    --jet: #353535;
    --ming: #3c6e71;
    --gainsboro: #d9d9d9;
    --indigo-dye: #284b63;
    --oxford-blue: #04052E;
}


* {
    box-sizing: border-box;
}
body {
    caret-color: transparent;
    overflow: auto;
    margin: 0;
    background-color: var(--background-color);
    font-size: 1.35em;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
}

h2 {
    font-weight: 400;
    width: 10em;
    margin: auto;
    text-align: center;
    border-radius: 20px ;
    border: 2px solid var(--ming);
    font-size: 1.8em;
    padding: 5px;
    backdrop-filter: brightness(.9);
}

h2 span {
    background-image: radial-gradient(var(--ming), var(--indigo-dye));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(1.5);
}

nav {
    display: flex;
    gap: 1vmax;
    color: var(--gainsboro);
    text-align: center;
    padding: 1vmax;
    margin-bottom: 2vmax;
    position: relative;
}

nav::after {
    content: "";
    width: 75%;
    position: absolute;
    background-image: linear-gradient(to right, 
        var(--background-color),
        var(--ming), 
        var(--indigo-dye), 
        var(--background-color));
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* filter: brightness(2); */
}

nav div {
    display: grid;
    place-items: center;
    flex-basis: calc(100% / 4);
    font-weight: 700;
    
}

nav div a {
    padding: 0 .5vmax;
    text-decoration: none;
    color: var(--gainsboro);
}

a.link {
    position: relative;
}

a.link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: gainsboro;
    left: 0;
    bottom: 0;
    transform: scale(0, 1);
    transition: all 250ms ease;
}

a.link:hover::after {
    transform: scale(1, 1);
}

nav a:hover {
    animation: scale 100ms ease-in-out forwards;
}

nav div.logo {
    font-size: 2rem;
    padding-left: 2vmax;
    display: grid;
    justify-items: start;
    align-items: center;
    background-image: linear-gradient(to right, var(--ming), var(--indigo-dye), var(--indigo-dye), var(--indigo-dye));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(2);

}

nav div.table {
    padding-right: 2vmax;
    display: grid;
    justify-items: end;
    align-items: center;
}

.content_list:not(:last-of-type) {
    margin-bottom: 5vmax;
}

.content_list ul {
    padding: 0 2rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
}

.content_list ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 1px solid #54b3d6;
    border-radius: 10px;
    flex-basis: calc(25% - 15px);
    backdrop-filter: brightness(1.2 );
    box-shadow: 1px 1px 5px rgba(173, 216, 230, 0.5); 
}


.content_list ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    aspect-ratio: 1.2 / 1;
    padding: 1vmax;
    font-weight: 900;
    width: 100%;
    margin: 5px;
    text-decoration: none;
    color: #54b3d6;
}

.content_list ul li a span {
    color: #808080;
    opacity: .5;
}
.content_list ul li img {
    width: 80%;
    aspect-ratio: 3 / 1;
    margin: 0 auto;
}

.content_list ul li a:hover {
    animation: scale 150ms ease-in-out forwards;
}

@keyframes scale {
    to {
        transform: scale(1.1);
    }
}