@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}
body {
    overflow: hidden;
    margin: 0;
    color: #bcbcbc;
    background-color: #151516;
    font-size: 1.35em;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-weight: 400;
    width: 10em;
    margin: auto;
    text-align: center;
    border: 2px solid gray;
    border-radius: 8px;
    background-color: #443d3d;
    font-size: 1.8em;
    padding: 5px;
}

h1#formulas {
    width: 12em;
}

nav {
    width: 100%;
    margin: 5px 0 0 0;
    font-weight: 200;
}

nav ul {
    margin: 0 10px 20px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
    font-size: 1.5em;
    flex-wrap: wrap;
}

nav ul li {
    flex-basis: 24.9%;
}

nav ul li a {
    border: 2px solid gray;
    border-radius: 10px;
    display: block;
    text-decoration: none;
    color: #cccccc;
    border-right: 2px solid gray;
}

body:has(#basic) nav ul:not(:hover) li:first-child a, 
body:has(#conversion) nav ul:not(:hover) li:nth-child(2) a,
body:has(#formulas) nav ul:not(:hover) li:nth-child(3) a,
body:has(#periodic-table) nav ul:not(:hover) li:nth-child(4) a{
    color: white;
    font-weight: 500;
}

nav ul li:hover a {
    background-color: #1e1e20;
    color: white;
    font-weight: 500;
}

.calc_frame {
    margin: 2rem auto;
    height: 7.9em;
    width: 6em;
    background-color: #2d2d2f;
    border: 2px solid gray;
    border-radius: 20px;
    flex-wrap: wrap;
    font-size: 3em;
    position: relative;
}

.calc_frame > h2 {
    font-size: 0.8em;
    text-align: end;
    width: 93%;
    margin: 15px auto;
    padding: 12px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: #3d3e46;
}

.calc_frame ul {
    width: 92%;
    margin: auto;
    text-align: center;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.calc_frame ul li {
    font-size: .8em;
    padding: 8px;
    margin: 5px;
    flex-basis: 33%;
    border: 2px solid gray;
    border-radius: 15px;
    flex-basis: 33%;
    font-weight: 900;
    box-shadow: 1px 2px 7px 1px #0000005b;
    width: 100%;
}

.calc_frame ul li:hover {
    background-color: #3d3e46;
    cursor: pointer;
}

.calc_frame .row-4 ul li:first-child {
    flex-basis: 70%;
}

.content_list ul {
    padding: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 10em;
    margin: 25px auto;
    text-align: center;
}

.content_list ul li {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px;
}

.content_list ul li:hover {
    border-radius: 10px;
    background-color: #1e1e20;
    cursor: pointer;
}

.content_list ul li a {
    text-decoration: none;
    color: white;
}