:root {
    --opacity: 200ms;
}

body {
    counter-reset: atomic_num;
    --color: #00000000;
}

main {
    display: flex;
    flex-basis: calc(100% / 2);
}


table {
    user-select: none;
    grid-area: table;
    border: transparent;
    border-collapse: separate;
    margin: 1em;
    font-size: 1.25em;
}

div.table:not(:has(a)) {
    overflow-x: scroll;
}


table tr td {
    text-align: center;
    padding: 10px;
    background-color: var(--background-color);
    min-width: 60px;
    max-width: 60px;
    position: relative;
    border-radius: 4px;
}

table tr td.lantanideos, td.actinideos {
    font-size: 0.5em;
    counter-increment: atomic_num 15;
} 

table tr td:not(.colspan, .lantanideos, .actinideos)::before {
    display: flex;
    height: 0.5em;
    font-size: 0.5em;
    position: relative;
    bottom: 6px;
    right: 3px;
    counter-increment: atomic_num;
    content: counter(atomic_num);
}

table tr td span {
    padding-bottom: 2px;
    display: flex;
    justify-content: center;
    height: 0.5em;
    font-size: 0.4em;
    font-weight: 900;
    position: relative;
}

table tr td:not(.colspan):hover {
    cursor: pointer;
    animation: scale-up 150ms ease-in-out forwards;
    z-index: 1;
    box-shadow: inset 0px 0px 5px var(--color), 0px 0px 5px var(--color);
}


table tr td.colspan {
    border: transparent;
}

table tr#lantanideos {
    counter-reset: atomic_num 56;
}
table tr#actinideos {
    counter-reset: atomic_num 88;
}

.blank-row td{
    padding: 15px;
}


td.hydrogen, #hydrogen {
    border: 1px solid #b8b7b7;
    color: #b8b7b7 ;
}
.hydrogen:hover {
    --color: #b8b7b7;
}

td.transmetal, #transmetal {
    border: 1px solid #d227bb;
    color: #d227bb;
}
.transmetal:hover {
    --color: #d227bb;
}

td.alkalimetal, #alkalimetal {
    border: 1px solid #F26430;
    color: #F26430;
}
.alkalimetal:hover {
    --color: #F26430;
}

td.alkalineearthmetal, #alkalineearthmetal {
    border: 1px solid #fde74c;
    color: #fde74c;
}
.alkalineearthmetal:hover {
    --color: #fde74c;
}

td.noblegas, #noblegas {
    border: 1px solid #8774ff;
    color: #8774ff;
}
.noblegas:hover {
    --color: #8774ff;
}

td.halogen, #halogen {
    border: 1px solid #0fad61;
    color: #0fad61;
}
.halogen:hover {
    --color: #0fad61;
}

td.nonmetal, #nonmetal {
    border: 1px solid #35ed35;
    color: #35ed35;
}
.nonmetal:hover {
    --color: #1ef81e;
}

td.metalloid, #metalloid {
    border: 1px solid #7a3df4;
    color: #7a3df4;
}
.metalloid:hover {
    --color: #7a3df4;
}

td.othermetal, #othermetal {
    border: 1px solid #58a4d3;
    color: #58a4d3;
}
.othermetal:hover {
    --color: #58a4d3;
}


.lantanideo, td.lantanideos, #lantanideo {
    border: 1px solid #df1728;
    color: #df1728;
}
.lantanideo:hover, .lantanideos:hover {
    --color: #df1728;
}

.actinideo, td.actinideos, #actinideo {
    border: 1px solid #1a47db;
    color: #1a47db;
}

.actinideo:hover, .actinideos:hover {
    --color: #1a47db;
}

.element {
    color: #b8b7b7;
    margin: 2em auto;
    height: 400px;
    width: 320px;
    outline: 10px solid !important;
    border-radius: 10px;
    /* caret-color: transparent; */
    position: relative;
    /* user-select: none; */
    margin-left: 2vmin;
}

.element .atomic_num {
    text-align: initial;
    font-size: 50px;
    margin: 10px 0 10px 15px;
}

.element .atomic_num::after {
    content: ' Número Atômico';
    position: relative;
    bottom: .45em;
    font-size: 0.4em;
    opacity: 40%;
}

.element .symbol {
    font-size: 60px;
    text-align: center;
    margin: 40px;
}

.element .symbol::after {
    content: 'Símbolo';
    position: absolute;
    top: 45%;
    right: 35%;
    font-size: 0.4em;
    opacity: 40%;

}

.element .name {
    margin: 0;
    min-width: 320px;
    font-size: 40px;
    text-align: center;
}

.element .name::after {
    content: 'Nome';
    display: block;
    font-size: 0.4em;
    opacity: 40%;
}

.element .atomic_mass {
    font-size: 20px;
    text-align: center;
}

.element .atomic_mass::after {
    content: 'Massa Atômica';
    display: block;
    font-size: 0.7em;
    opacity: 40%;
}

@keyframes scale-up {
    to {
        transform: scale(1.35);
        filter: brightness(1.2) saturate(1.5);
    }
}

@keyframes element {
    from {
        filter: brightness(.5) opacity(.5);
    }
    to {
        filter: brightness(1) opacity(1);
    }
}

@media (max-width: 720px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .element {
        transform: scale(.75);
        margin: auto;
    }
}